@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


body{
    font-family: Lato, Mulish, sans-serif;
}
.btn{
	background: #48c1be;
	color: #fff;
	border: none;
}
.btn:hover{
	background: #4C2462;
	color: #fff;
}
.card{
	border-radius: 0;
}
.titulos1{
	font-family: Mulish;
	font-weight: 900;
}
.titulos2{
	font-family: Mulish;
	font-weight: 800;
}
.titulos3{
	font-family: Mulish;
	font-weight: 700;
}
.titulos4{
	font-family: Mulish;
	font-weight: 600;
}
.autor{
	font-weight: 400;
	font-style: italic;
	color: #000;
}
.autor2{
	font-weight: 400;
	color: #000;
}
/****************NAVBAR*****************/
.navbar{
	box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}
.navbar-brand{
    margin: 0px 15px 0px 10px;
}
.nav-link{
    font-size: 12pt;
}
.profile li a img{ 
    width: 28px; 
    height: 28px;
    margin: 0px 10px 0px 0px;
    border-radius: 50%; 
}
.navingreso{
	margin-right: 15px;
}
.nav-item i{
	font-size: 15pt;
}
.profile .nav-item.dropdown, .profile .nav-item.navingreso{
	margin-top: 3px;
}
.botonsuscribirse{
	margin-top: -3px;
}
.butonsuscribirse{
	font-size: 12pt;
}
.barrabusquedacel{
	display: none;
}
/****************ACTUALIDAD*****************/
.actualidad{
	padding: 65px 85px 65px;
}
.titprincip{
	font-size: 25pt;
	color: #8B4892;
}
.titsec{
	font-size: 25pt;
}
.titnotsec1{
	font-size: 1.25rem;
	line-height: 1.7rem;
	color: #4C2462;
}
.titnotsec2{
	font-size: 1.25rem;
	color: #4C2462;
}
.autornot{
	font-size: 11pt;
}
.notprincipal .card-text{
	color: #000;
}
.notprincipal .row{
	margin: 0px 1px;
}
.notprincipal .card{
	box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
	border: solid #bbc 1px;
}
/********************************************/
.barralat .row{
	margin: 0px 0px 0px 0px;
}
.filanoticia a{
	box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
	border: solid #bbc 1px;
	margin: 10px 0px;
}
.filanoticia a h3{
	font-size: 14pt;
	color: #4C2462; 
}
.filanoticia a img{
	height: 100px;
	width: auto;
}
/**************************************/
.notten .card{
	box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
	border: solid #bbc 1px;
}
.noticiasact{
	padding: 20px;
}
.noticiasact.dos{
	margin: 0px 0px 10px 0px;
}
.noticiasact.tres{
	margin: 10px 0px 10px 0px;
}
.noticiasact.cuatro{
	margin: 10px 0px 10px 0px;
}
.noticiasact.cinco{
	margin: 10px 0px 0px 0px;
}

.barralat a, .notprincipal a{
	transition: 0.3s;
	text-decoration: none;
}
.barralat a:hover, .notprincipal a:hover{
	transform: scale(1.015);
	background: #eee;
}
.notprincipal .card{
	transition: 0.3s;
}
.notprincipal .card:hover{
	background: #eee;
}
.notten a{
	text-decoration: none;
}
.notten .card{
	transition: 0.3s;
}
.notten .card:hover{
	transform: scale(1.015);
	background: #eee;
}
/****************JUMBOTRONPUBLICIDAD*****************/

/****************TENDENCIAS*****************/
.tendencia{
	padding: 50px 80px 70px 80px;
}
.noticiasten{
	margin: 10px 0px;
}
/****************FOOTER*****************/
footer{
	box-shadow: 0px -1px 10px rgba(0,0,0,0.3);
}
footer .container h4{
    color: #8c4895;
}
footer .container p{
    color: #8c4895;
}
footer a, footer ul li a{
    color: #8c4895;
}
.redesbottom a i{
    font-size: 25pt;
}
/******************************************************************************************************/
@media only screen and (max-width:1024px){
	.filanoticia a h3{
		font-size: 11pt; 
	}
}
/**********************************************************************************/
@media only screen and (max-width:991.98px){
    .navbar li a{
        text-align: center;
        padding: 10px 0px 10px 0px;
    }
	.navingreso{
		margin-right: 0px;
	}
	.botonsuscribirse{
		margin-top: 7px;
	}
	.botonbusquedaactivo{
		display: none;
	}
	.barrabusquedacel{
		display: block;
		margin: 20px 20px;
	}
	.actualidad{
		padding: 50px 60px;
	}
	.filanoticia a{
		margin: 10px;
	}
	.filanoticia a h3{
		font-size: 12pt; 
	}
	.tendencia{
		padding: 50px 60px;
	}
	.notprincipal{
		margin-bottom: 50px;
	}
}	
/**********************************************************************************/
@media only screen and (max-width:768px){
	.filanoticia a h3{
		font-size: 10pt; 
	}
}
/**********************************************************************************/
@media only screen and (max-width:767.98px){
	.carousel-item img{
        height: 300px;
        width: auto;
        object-fit: cover;
    }
	.carimg1{
		max-width: 1000px;
	}
	.carimg3{
		max-width: 1000px;
	}
	.notprincipal{
		margin-bottom: 30px;
	}
	.noticiasact.cinco{
		margin: 20px 0px 0px 0px;
	}
	.imgpremium{
		height: 250px;
		width: auto;
        object-fit: cover;
	}
}
/**********************************************************************************/
@media only screen and (max-width:575.98px){
	.barrabusquedacel{
		margin: 20px 0px;
	}
	.filanoticia a{
		margin: 10px 0px;
	}
	.filanoticia a h3{
		font-size: 10pt; 
	}
	.titprincip{
		font-size: 20pt;
	}
	.notprincipal .row{
		margin: 0px 0px;
	}
	.barralat .row{
		margin: 0px 0px 0px 0px;
	}
	.titsec{
		text-align: center;
		font-size: 22pt;
	}
	.titnotsec1{
		font-size: 0.9rem;
		line-height: 1rem;
	}
	.actualidad{
		padding: 50px 40px;
	}
	/******/
	.tendencia{
		padding: 30px 40px;
	}
	/******/
	.custom-flex-row {
      display: flex;
      flex-wrap: nowrap;
    }
}