@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: Poppins, sans-serif;
}
.btn{
	background: #48c1be;
	color: #fff;
}
/****************NAVBAR*****************/
.navbar{
	box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}
.navbar-brand{
    margin: 0px 15px 0px 10px;
}
.nav-link{
    font-weight: 600;
}
.profile li a img{ 
    width: 28px; 
    height: 28px;
    margin: 0px 10px 0px 0px;
    border-radius: 50%; }
/****************ACTUALIDAD*****************/
.actualidad{
	padding: 50px 70px;
}
.titgen{
	padding: 10px 0px;
	color:#8c4895;
	font-size: 30pt;
	font-weight: 600;
}
.gridnoticiasact{
	padding: 0px 20px;
	display: grid;
	grid-template-rows: 400px 400px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 25px;
	position: relative; 
}
.noticiasact{
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-decoration: none;
	transition: 0.3s;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.7);
}

.noticiasact .text {
	position: absolute; 
	bottom: 0px;
	left: 0;
	right: 0;
	margin: auto;
	background: rgba(69,68,68,1);
	color: #fff;
	font-size: 11pt;
	padding: 15px;
	text-align: center;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.noticiasact:hover .text {
	bottom: 0;
	opacity: 1;
}

.noticiasact a {
	display: block;
}
.noticiasact:hover, .noticiasten:hover{
	transform: scale(1.02);
}

.noticiasact.uno{
	grid-column: 1/3;
	grid-row: 1/2;
	background-image: url("../noticias/n1/1.jpg");
}
.noticiasact.dos{
	grid-column: 3/4;
	grid-row: 1/2;
	background-image: url("../noticias/n2/1.jpg");
}
.noticiasact.tres{
	grid-column: 1/2;
	grid-row: 2/3;
	background-image: url("../noticias/n3/3.3.3.jpg");
}
.noticiasact.cuatro{
	grid-column: 2/4;
	grid-row: 2/3;
	background-image: url("../noticias/n4/1.jpeg");
}
.titulonot{
	background: rgba(0,0,0,0.85);
	color: #fff;
	font-weight: 600;
	font-size: 14pt;
	text-decoration: none;
	padding: 20px;
}
.actuno{
	font-size: 16pt;
	font-weight: 700;
	position: absolute;
	top: 25%;
	width: 40%;
	text-decoration: none;
}
.actdos, .acttres{
	text-decoration: none;
	position: absolute;
	width: 100%;
}
.actcuatro{
	font-size: 16pt;
	font-weight: 700;
	position: absolute;
	right: 0;
	top: 30%;
	width: 40%;
	text-decoration: none;
}
/****************JUMBOTRONPUBLICIDAD*****************/
.jbpublicidad:hover{
	text-decoration: none;
}
.jumbotronpublicidad{
    border-radius: 0;
	background: url("../images/bannerperfil.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding: 60px 90px;
	text-align: right;
}
.jumbotronpublicidad .p1{
	font-size: 16pt;
	font-weight: 500;
}
.jumbotronpublicidad .p2{
	font-size: 18pt;
	font-weight: 600;
}
/****************TENDENCIAS*****************/
.tendencia{
	padding: 20px 70px 50px 70px;
}
.gridnoticiasten{
	padding: 0px 20px;
	display: grid;
	grid-template-rows: 250px 250px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 25px;
	position: relative; 
}
.noticiasten{
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: 0.3s;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.7);
}

.noticiasten .text {
	position: absolute; 
	bottom: 0px;
	left: 0;
	right: 0;
	margin: auto;
	background: rgba(69,68,68,1);
	color: #fff;
	font-size: 11pt;
	padding: 10px;
	text-align: center;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.noticiasten:hover .text {
	bottom: 0;
	opacity: 1;
}
.noticiasten a {
	display: block;
}
.noticiasten.uno{
	grid-column: 1/2;
	grid-row: 1/2;
	background-image: url("../noticias/n5/1.jpeg");
}
.noticiasten.dos{
	grid-column: 1/2;
	grid-row: 2/3;
	background-image: url("../noticias/n6/1.jpg");
}
.noticiasten.tres{
	grid-column: 2/3;
	grid-row: 1/3;
	background-image: url("../noticias/n7/1.jpeg");
}
.noticiasten.cuatro{
	grid-column: 3/4;
	grid-row: 1/2;
	background-image: url("../noticias/n8/1.jpeg");
}
.noticiasten.cinco{
	grid-column: 3/4;
	grid-row: 2/3;
	background-image: url("../noticias/n9/1.jpeg");
}
.tenuno, .tendos, .tencuatro, .tencinco{
	text-decoration: none;
	position: absolute;
	width: 100%;
}
.tentres{
	font-size: 16pt;
	font-weight: 700;
	position: absolute;
	top: 42%;
	width: 100%;
	text-decoration: none;
}

/****************FOOTER*****************/
footer{
	box-shadow: 0px -1px 10px rgba(0,0,0,0.3);
}
footer .container h4{
    color: #8c4895;
	font-weight: 600;
}
footer .container p{
    color: #8c4895;
}
footer a, footer ul li a{
    color: #8c4895;
}
.redesbottom a i{
    font-size: 25pt;
}
/******************************************************************************************************/
@media only screen and (max-width:991.98px){
    .navbar li a{
        text-align: center;
        padding: 10px 0px 10px 0px;
    }
	.actualidad{
		padding: 50px;
	}
	.gridnoticiasact{
		padding: 0;
		display: grid;
		grid-template-rows: 300px 300px 300px;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
	}
	.actuno, .actdos, .acttres, .actcuatro{
		font-size: 15pt;
		font-weight: 600;
		position: absolute;
		top: 0;
		width: 100%;
		text-decoration: none;
	}
	.noticiasact.uno{
		grid-column: 1/3;
		grid-row: 1/2;
	}
	.noticiasact.dos{
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.noticiasact.tres{
		grid-column: 2/3;
		grid-row: 2/3;
	}
	.noticiasact.cuatro{
		grid-column: 1/3;
		grid-row: 3/4;
	}
	
	.tendencia{
		padding: 10px 50px 50px 50px;
	}
	.titgen{
		text-align: center;
		font-size: 28pt;
		padding: 15px 0;
	}
	.gridnoticiasten{
		padding: 0;
		display: grid;
		grid-template-rows: 300px 300px 300px;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
	}
	.tenuno, .tendos, .tentres, .tencuatro, .tencinco{
		font-size: 15pt;
		font-weight: 600;
		position: absolute;
		top: 0;
		width: 100%;
		text-decoration: none;
	}
	.noticiasten.uno{
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.noticiasten.dos{
		grid-column: 2/3;
		grid-row: 1/2;
	}
	.noticiasten.tres{
		grid-column: 1/3;
		grid-row: 2/3;
	}
	.noticiasten.cuatro{
		grid-column: 1/2;
		grid-row: 3/4;
	}
	.noticiasten.cinco{
		grid-column: 2/3;
		grid-row: 3/4;
	}
}
/**********************************************************************************/
@media only screen and (max-width:575.98px){
	.gridnoticiasact{
		padding: 0;
		display: grid;
		grid-template-rows: 300px 300px 300px 300px;
		grid-template-columns: 1fr;
		grid-gap: 25px 0px;
	}
	.actualidad{
		padding: 50px 30px;
	}
	.titgen{
		text-align: center;
		font-size: 22pt;
	}
	.actualidad .titulonot, .tendencia .titulonot{
		background: rgba(0,0,0,0.85);
		color: #fff;
		font-weight: 600;
		font-size: 13pt;
		text-decoration: none;
		padding: 15px;
		text-align: center;
	}
	.actuno, .actdos, .acttres, .actcuatro, .tenuno, .tendos, .tentres, .tencuatro, .tencinco{
		position: absolute;
		top: 0;
		width: 100%;
		text-decoration: none;
	}
	.noticiasact.uno{
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.noticiasact.dos{
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.noticiasact.tres{
		grid-column: 1/2;
		grid-row: 3/4;
	}
	.noticiasact.cuatro{
		grid-column: 1/2;
		grid-row: 4/5;
	}
	
	/******/
	.jumbotronpublicidad{
		padding: 50px 20px;
		text-align: center;
	}
	.jumbotronpublicidad .p1{
		font-weight: 500;
		font-size: 14pt;
	}
	.jumbotronpublicidad .p2{
		font-size: 16pt;
	}
	/******/
	
	.gridnoticiasten{
		padding: 0;
		display: grid;
		grid-template-rows: 300px 300px 300px 300px 300px;
		grid-template-columns: 1fr;
		grid-gap: 25px 0px;
	}
	.tendencia{
		padding: 10px 30px 50px 30px;
	}
	.noticiasten.uno{
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.noticiasten.dos{
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.noticiasten.tres{
		grid-column: 1/2;
		grid-row: 3/4;
	}
	.noticiasten.cuatro{
		grid-column: 1/2;
		grid-row: 4/5;
	}
	.noticiasten.cinco{
		grid-column: 1/2;
		grid-row: 5/6;
	}
}