@charset "utf-8";
.contimgpodcast{
	background: #d3a2ce;
}
.contimgpodcast h1{
	margin-top: 5px;
	padding: 40px 20px;
	color: #000;
	font-size: 3rem;
}
.txtintropodcast{
	text-align: center;
	padding: 50px 65px 10px;
	font-size: 16pt;
	font-weight: 600;
}
.barramorada{
	background: #923E8F;
	color: #923E8F;
	text-align: center;
}

/****************NAVBAR*****************/
.noticiaspag{
	padding: 0 85px;
}
.noticias{
	margin: 30px 0;
}
.noticias h1{
	color: #000;
	font-weight: 600;
	font-size: 28pt;
}
.noticias h1 hr{
	background: #ccc;
}
.noticias a{
	text-decoration: none;
}
.linksnoticias .card{
	border-radius: 0;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
	border: solid #bbc 1px;
	transition: 0.3s;
	background: #eee;
	padding: 0;
}
.card .card-title{
	color: #4C2462;
}
.linksnoticias .card:hover{
	background: #ddd;
	transform: scale(1.015);
}
.card-body{
	margin: 0 0 0 0;
}
.pagination li a{
	color: #8c4895;
}
/****************NAVBAR*****************/
/*****************************************************************************/
@media only screen and (max-width:991.98px){
	.noticias{
		margin: 0px 0;
	}
	.noticiaspag{
		padding: 0 60px;
	}
	.linksnoticias .card{
		margin: 15px 0 15px;
	}
	.card .card-title{
		text-align: center;
	}
	.card-body p{
		text-align: center;
	}
	.noticiaspag{
		margin-bottom: 20px;
	}
	.txtintropodcast{
		padding: 30px 65px 10px;
		font-size: 15pt;
	}
}
@media only screen and (max-width:768px){
	.noticiaspag{
		padding: 0 50px;
	}
}
@media only screen and (max-width:575.98px){
	.txtintropodcast{
		padding: 30px 65px 10px;
		font-size: 15pt;
	}
	.linksnoticias .card{
		margin: 20px 0 20px;
	}
	.contimgpodcast h1{
		font-size: 2.5rem;
	}
	.linksnoticias .card{
		margin: 5px 0 15px;
	}
	.noticiaspag{
		margin-bottom: 20px;
	}
	.noticias h1{
		text-align: center;
		font-size: 22pt;
	}
	.noticiaspag{
		padding: 0 20px;
	}
	.card .card-title{
		font-size: 13pt;
	}
}