@charset "utf-8";
/****************TXTADICIONAL*****************/
.textoadicional{
	text-align: center;
}
/****************CONTPAGO*****************/
.pagos{
	padding: 0 50px;
}
.contpago{
	background: #e8e8e8;
	padding: 30px;
	display: flex;
	margin: 0 auto;
	max-width: 1920px;
}
/****************PAGOPASO1*****************/
.continfopagopaso1{
	background: #ccc;
	padding: 30px 30px;
	border-radius: 5px;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
}
.continfopagopaso1 h2{
	font-size: 18pt;
	text-align: center;
}
.botonespagopaso1{
	text-align: center;
}
.btn1 h2, .btn h2{
	margin: 8px 0 0 0;
}
.btn1 h5, .btn2 h5{
	font-size: 12pt;
	font-weight: 300;
}
/****************PAGOPASO2*****************/
.continfopagopaso2{
	background: #ccc;
	padding: 30px 50px;
	border-radius: 5px;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
}
.continfopagopaso2 h2{
	font-size: 18pt;
	text-align: center;
}
/****************FORMPAGO*****************/
.form-group{
	display: flex;
}
.form-group label {
  font-weight: 600;
  margin-bottom: 5px;
}

.form-control {
  border-radius: 0;
  border: 2px solid #ccc;
}

.form-control:focus {
  border-color: #8FB8DE;
  box-shadow: none;
}
.form-group button{
	margin: 15px 0px 0px 0px;
}
/****************FOOTER*****************/
footer{
	margin: 40px 0px 0px 0px;
}
/**********************************************************************************************/
@media only screen and (max-width:991.98px){
	.pagopaso1{
		margin: 0px 0px 20px 0px;
	}
	.botonespagopaso1 .btn1{
		margin: 0px 0px 15px 0px;
	}
}

@media only screen and (max-width:575.98px){
	.textoadicional{
		padding: 0 20px;
	}
	.textoadicional h3{
		font-size: 15pt;
	}
	.pagos{
		padding: 10px 20px;
	}
	.contpago{
		padding: 20px 10px;
	}
	.btn1 h5, .btn2 h5{
		font-size: 12pt;
		font-weight: 300;
	}
	.continfopagopaso1 h2, .continfopagopaso2 h2{
		font-size: 15pt;
	}
	.imgpse{
		text-align: center;
	}
	.banco{
		margin: 20px 0 0 0;
		text-align: center;
	}
	.banco h5{
		font-size: 12pt;
		text-align: center;
	}
}