@charset "utf-8";
.imgestrella{
	display:block;
}
.color1{
	background: #061F2B;
	color: #fff;
}
.color2{
	background: #096076;
	color: #fff;
}
.color3{
	background: #C1B8C6;
}
.color4{
	background: #1BA59C;
	color: #fff;
}
.color5{
	background: #06605F;
	color: #fff;
}
.color6{
	background: #3E77A4;
	color: #fff;
}