@charset "utf-8";
body{
	background: url("../../dgversotextures/fondo.jpg")
}
.piezadgtal h2{
	color: #fff;
	text-align: center;
	padding: 10px;
	font-weight: 600;
}
/****************CONTENEDOROBRAS*****************/
.continfo{
	margin: 20px 80px;
	border-radius: 10px;
}
/****************IMGESTRELLA*****************/
.imgpieza{
	display:flex; 
	align-items: center; 
	justify-content: center;
}
/****************DESCRIPCIONESTRELLA*****************/
.descripcionestrella{
	padding: 50px;
}
.descripcionestrella h5{
	font-size: 15pt;
	font-weight: 300;
}
.descripcionestrella h6{
	font-size: 12pt;
	font-weight: 300;
}
/****************CARRUSELOBRAS*****************/
.carruselobras{
	padding: 0 50px;
}
.botonregreso{
	margin: 30px 0px;
}

/*********************************************************************************************************/
@media only screen and (max-width:991.98px){
	
}

@media only screen and (max-width:575.98px){
	.piezadgtal h2{
		color: #fff;
		text-align: center;
		font-size: 18pt;
	}
	.continfo{
		margin: 20px 20px;
	}
	.descripcionestrella{
		padding: 30px;
	}
	.descripcionestrella h1{
		font-size: 20pt;
	}
	.descripcionestrella h5{
		font-size: 14pt;
		font-weight: 300;
	}	
	.carruselobras{
		padding: 0 20px;
	}
}